# Kredensial sensitif
kaggle.json

# File model besar (uncomment jika melebihi 100MB)
# models/
# *.pkl
# *.h5

# Data besar
data/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Environment
.env
venv/
